/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

h2{
  color: #1a202c;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
h3{
  color: #1a202c;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
h4{
  color: #1a202c;
  font-weight: 600;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.fixed-image {
    height: 200px;  /* Set a fixed height for all images */
    width: 100%;    /* Make images responsive */
    object-fit: cover;  /* Crop images to fill the space while maintaining aspect ratio */
}
