<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-lightBlue-500 mb-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-blue" href="/">
        Heepa
      </a>
      <button class="text-blue cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex flex-grow items-center " id="example-collapse-navbar">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
      	{{ $currentPage := . }}
	    {{ range .Site.Menus.main }}
	        <li class="nav-item">
	        {{ if .HasChildren }}
	          <!-- drop down navigation MENU -->
	          <a class="lock py-2 px-3 text-blue bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
	          <ul class="submenu">
	            {{ range .Children }}
	              <li class="submenu-item">
	                <a href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
	              </li>
	            {{ end }}
	          </ul>

	        {{ else }}
	          <!-- normal MENU -->
	          {{ if hasPrefix .URL "http" }}
	          	<li class="nav-item">
		          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue hover:opacity-75"  href="{{ .URL | absLangURL | safeURL }}" rel="noopener" target="_blank">
		              {{ .Name }}
		              {{/* icon new window */}}
		              <i class="iconfont text-lg leading-lg text-blue opacity-75">
		                {{ partial "svg/new_window.svg" }}
		              </i>
		            </a>
	            </li>
	          {{ else }}
	          	<li class="nav-item">
		            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue hover:opacity-75" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
	          {{ end }}

	        {{ end  }}

	      </li>
	    {{ end }}
      </ul>
    </div>
  </div>
</nav>
<script>
  function toggleNavbar(collapseID){
    document.getElementById(collapseID).classList.toggle("hidden");
    document.getElementById(collapseID).classList.toggle("flex");
  }
</script>