<footer id="footer" class="w-full max-w-screen-xl mx-auto mb-6">
  <div class="px-6">
    <div class="w-full sm:max-w-2xl max-w-3xl mx-auto text-center">

      <!-- Alumni Join Button -->
      <a href="/signup" 
         class="block w-1/4 mx-auto mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
                focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 
                text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        加入校友会
      </a>
      <div class="mt-2 space-x-4 text-sm">
        <a href="/disclaimer" target="_blank" class="hover:underline text-blue-600 dark:text-blue-400 font-medium">
          免责声明
        </a>
      </div>
      {{- partial "component/formModal.html" . -}}

      <!-- Copyright -->
      {{ with .Site.Params.copyright }}
        <div class="mt-4 text-sm text-gray-600 dark:text-gray-400">
          © {{ dateFormat "2006" now }} {{ . | markdownify }}
        </div>
      {{ end }}

      <!-- Links -->

    </div>
  </div>


	{{- partial "component/footer-popup.html" . -}}	

		


</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const modal = new Modal(document.getElementById("popup-modal"));
    

    // Set the end date (YYYY, MM-1, DD)
    const endDate = new Date(2026, 6, 4); // April 14, 2025 (Month is zero-based)

    // Get today's date
    const today = new Date();

    // Show modal only if today is before the end date
    if (today < endDate) {
        modal.show();
    }
});
</script>
<script>
  AOS.init({
	  duration: 400,
	  offset: 320,
  }
	);
</script>