
  <div class="grid grid-cols-1">
    <div class="border-t border-primary py-2">
      
heepacom@gmail.com<br>
<a href="https://api.whatsapp.com/send?phone=60194052394">019-405 2394</a>	<br>
99 Jalan Hamilton 11600 Pulau Pinang
      <div class="md:text-center mx-auto hidden">
        <button
          class="button button-black mx-auto w-full rounded-lg px-4 md:px-5 my-5 py-3 md:py-4 bg-primary hover:bg-black md:text-lg md:leading-tight text-white font-semibold leading-tight shadow-md md:text-center"
        >
          {{ with .Get "button_label" }}{{ . }}{{ else }}Sign up{{ end }}
        </button>
      </div>
    </div>
  </div>

